#root {
  min-height: 100vh;
}

body,
html {
  overflow: hidden;
}

.MuiDrawer-root {
  z-index: 1200; /* Ensure drawer is above other content */
}

.MuiDrawer-paper {
  width: 240px; /* Adjust based on your drawer width */
}

.card {
  padding: 2em;
}

* {
  border: 1px solid red;
}

/* Styles for the input box container */
.input-container {
  margin-left: 240px;
  margin-top: 60px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #root {
  }

  .MuiDrawer-paper {
    width: 100%; /* Full width for mobile */
  }

  .input-container {
    margin-left: 0;
  }
}
